<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
</head>
<body>
<div style="text-align: center" th:replace="/layout::title"></div>
<form action="/products/create" method="post" th:object="${product}">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="text" th:field="*{price}"></td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td><input type="text" th:field="*{quantity}"></td>
        </tr>
        <tr>
            <td>Image</td>
            <td><input type="text" th:field="*{image}"></td>
        </tr>
        <tr>
            <td><button type="submit">Create</button></td>
            <td><button type="reset">Reset</button></td>
        </tr>
    </table>
</form>
</body>
</html>